DB_HOST=localhost
DB_NAME=ClavitekDemo
DB_USER=root
DB_PASS=

WA_ACCESS_TOKEN=
WA_PHONE_NUMBER_ID=
WA_API_VERSION=v19.0

CLINIC_NAME="Somani's Clinic"
CLINIC_DIRECTIONS=https://maps.app.goo.gl/jywJGgZbaueAzzwW6
CLINIC_PHONE=+918810391291
